:root {
    font-size: 62.5%;
    --bodycolor: black;
    --headercolor: #01724c;
    --lettercolor: #fff;
    --orangesection: #f17205;
}
        body{
            text-align: center;
            margin: 0 auto;
            background: var(--bodycolor);
        }
        header {
            height: 400px;
            width: 100%;
            background-image: url("mexi_pastel.jpg");
            background-size: cover;

                background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

        }
footer {
    height: 400px;
    background: var(--headercolor);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 290px 90px;
}
#footer1 {
    grid-column-start: span 2;
    grid-row-start: 2;
    background: var(--headercolor);

    display: flex;
    justify-content: center;
}

#footer2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    background: #f17205;

    display: flex;
    justify-content: center;
}
#footer2 p {
    width: 400px;
}
#footer3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    background: #0277bd;

    display: flex;
    justify-content: center;
}
#footer3 p {
    width: 400px;
}
nav {
                position: fixed;
                top: 0;
                height: 100px;
                width: 100%;
/*                background: var(--headercolor);*/


                display: grid;
                grid-template-columns: 1fr 1fr;
}
#links {
    grid-column-start: 2;
    grid-column-end: 3;

                display: flex;
                justify-content: flex-end;
}
#logo_nav {
    grid-column-start: 1;
    grid-column-end: 2;

    display: flex;
    justify-content: flex-start;
}

#logo_nav img {
    width: 80px;
    height: 80px;
    padding-left: 3em;
    padding-top: 10px;
}
#logo_nav img:hover {
    opacity: 0.8;
}

header img {
    width: 250px;
    padding-top: 5em;

}
/*
.dropbtn {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: white;
font-size: 2rem;
    font-family: 'Lobster', cursive;
}
.dropbtn:hover {
    color: #ebebeb;
}

.dropdown {
    position: relative;
    display: inline-block;
    text-align: left;
   align-self: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content button {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}
.dropdown-content button:hover {
    color: #ebebeb;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

   button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: white;

    padding-left: 0em;
    font-size: 1.5rem;
font-family: 'Lobster', cursive;

        }
*/
a {
    color: white;
    text-decoration: none;
    padding-right: 1.5rem;
    font-size: 2rem;
    font-family: 'Lobster', cursive;
        align-self: center;

}
a:hover {
    color: #ebebeb;
}
        h1 {
            font-family: cursive;
            text-transform: capitalize;
            color: var(--lettercolor);
            font-size: 2.5rem;
            font-family: 'Lobster', cursive;

        }
        h2 {
            font-family: cursive;
            text-transform: capitalize;
            color: var(--lettercolor);
            font-size: 2rem;
            font-family: 'Righteous', cursive;
        }
        p {
            font-family: cursive;
            color: var(--lettercolor);
            font-size: 1.6rem;
            font-family: open sans;
        }
.mapouter{
    text-align:right;
    height:400px;
    width:100%;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
    width:100%;

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;

}
iframe {
    width: 98.5vw;
    height: 400px;
}

#contact_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 400px;
}
#about_contact {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: span 2;
    display: flex;
    justify-content: center;
}

#about_contact p {
    width: 80vw;
    padding-top: 5em;
    text-align: justify;
}
footer ul {
    list-style-type: none;
}
footer a {
    font-size: 1.2rem;
}
footer p {
    font-size: 1.3rem;
}
#footer1 h2 {
    padding-top: 1.5em;
}

        @media screen and (max-width:865px) {
            footer {
                width: 100%;
                grid-template-columns: 1fr;
                grid-template-rows: 290px 290px 90px;
            }
            #footer1 {
                width: 100vw;
                height: 100px;
            }
            #footer2 {
                width: 50vw;
            }
            #footer3 {
                width: 50vw;
            }
            #footer2 p {
                width: 300px;
            }
            #footer3 p {
                width: 300px;
            }
            nav {
                width: 100vw;
            }
            footer ul {
                width: 100%;
            }
        }

        @media screen and (max-width:550px) {
            #eventcontainer {
                grid-template-columns: 1fr;

            }
            #footer2 p {

                width: 220px;
            }
            #footer3 p {
                width: 220px;
            }
            #modal-content {
                height: 55vh!important;
                margin-top: 15em!important;
            }
            #modal-billede {
                width: 300px!important;

            }
        }
@media screen and (max-width:550px) {
    #footer2 p {
        width: 160px;
    }
    #footer3 p {
        width: 160px;
    }
    #logo_nav img {
        padding-left: 1em!important;
    }
}

/*HAMBURGER MENU TIL MOBILE*/
label {
    margin: 0 40px 0 0;
    font-size: 2.6rem;
    display: none;
    width: 26px;
    position: relative;
    left: 40vw;
    top: 5vw;
    color: white;
}
#toggle {
    display: none;
}
@media screen and (max-width:550px) {
    label {
        display: block;
        cursor: pointer;
    }
    #links {
        text-align: center;
        width: 100%;
        display: none;
        grid-column-start: span 2;
    }
    #links a {
        display: block;
        margin: 0;
        padding: 10px;
    }
    #toggle:checked + #links {
        display: block;
        background: rgba(0, 0, 0, 0.88);
    }
    nav {
        background: rgba(0, 0, 0, 0.88);
    }
}
