:root {
    font-size: 62.5%;
    --bodycolor: black;
    --headercolor: #01724c;
    --lettercolor: #fff;
    --orangesection: #f17205;
}
        body{
            text-align: center;
            margin: 0 auto;
            background: var(--bodycolor);
        }
        header {
            height: 600px;
            width: 100%;
            background-image: url("splash_mexi.png");
            background-size: cover;

                background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

        }
footer {
    height: 400px;
    background: var(--headercolor);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 290px 90px;
}
#footer1 {
    grid-column-start: span 2;
    grid-row-start: 2;
    background: var(--headercolor);

    display: flex;
    justify-content: center;
}

#footer2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    background: #f17205;

    display: flex;
    justify-content: center;
}

#footer3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    background: #0277bd;

    display: flex;
    justify-content: center;
}
#footer3 p {
    width: 400px;
}
nav {
                position: fixed;
                top: 0;
                height: 100px;
                width: 100%;
/*                background: var(--headercolor);*/


                display: grid;
                grid-template-columns: 1fr 1fr;
}
#links {
    grid-column-start: 2;
    grid-column-end: 3;

                display: flex;
                justify-content: flex-end;
}
#logo_nav {
    grid-column-start: 1;
    grid-column-end: 2;

    display: flex;
    justify-content: flex-start;
}
#logo_nav img {
    width: 80px;
    height: 80px;
    padding-left: 3em;
    padding-top: 10px;
}
#logo_nav img:hover {
    opacity: 0.8;
}

header img {
    width: 400px;
    padding-top: 10em;

}
.dropbtn {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: white;
font-size: 2rem;
    font-family: 'Lobster', cursive;
}
.dropbtn:hover {
    color: #ebebeb;
}

.dropdown {
    position: relative;
    display: inline-block;
    text-align: left;
   align-self: center;
}

.dropdown-content {
    display: none;
    position: absolute;
/*    background-color: black;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content button {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}
.dropdown-content button:hover {
    color: #ebebeb;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

   button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: white;

    padding-left: 0em;
    font-size: 1.5rem;
font-family: 'Lobster', cursive;

        }
a {
    color: white;
    text-decoration: none;
    padding-right: 1.5rem;
    font-size: 2rem;
    font-family: 'Lobster', cursive;
        align-self: center;

}
a:hover {
    color: #ebebeb;
}
        h1 {
            font-family: cursive;
            text-transform: capitalize;
            color: var(--lettercolor);
            font-size: 2.5rem;
            font-family: 'Lobster', cursive;

        }
        h2 {
            font-family: cursive;
            text-transform: capitalize;
            color: var(--lettercolor);
            font-size: 2rem;
            font-family: 'Righteous', cursive;
        }
        p {
            font-family: cursive;
            color: var(--lettercolor);
            font-size: 1.6rem;
            font-family: open sans;
        }
.break_img img {
    width: 200px;
    padding-top: 1.5em;
    padding-bottom: 1em;
}
#content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 350px 550px 550px;
    grid-gap: 1em;
}
#story_content {
    background: var(--orangesection);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    display: flex;
    justify-content: center;
}
#story_content p {
    width: 70vw;
    padding-top: 5em;

}
#story_content img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 130vh;
}
#mad_container {
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    justify-content: space-around;

    padding-top: 5em;
    padding-bottom: 2em;
}
#mad_container img {
    width: 400px;
}
#mad_container p {
    width: 500px;
}

#kultur_container {
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;

    padding-bottom: 2em;

}
#kultur_container img {
    width: 400px;
    height: 400px;
}
#kultur_container p {
    width: 500px;
}
footer ul {
    list-style-type: none;
}
footer a {
    font-size: 1.2rem;
}
footer p {
    font-size: 1.3rem;
}
#footer1 h2 {
    padding-top: 1.5em;
}
