:root {
    font-size: 62.5%;
    --mycolor: #01724c;
}
        body{
            text-align: center;
            margin: 0;
            background: var(--mycolor);
        }
        header {
            height: 100px;
            background: var(--mycolor);
            display: flex;
            justify-content: flex-end;

        }
nav {
    align-self: center;
}
.dropbtn {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: white;
padding-right: 1em;
font-size: 2rem;
    font-family: 'Lobster', cursive;
}

.dropdown {
    position: relative;
    display: inline-block;
    text-align: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #01724c;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content button {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}


        button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: white;

    padding-left: 2em;
    font-size: 1.5rem;
font-family: 'Lobster', cursive;
        }
a {
    color: white;
    text-decoration: none;
    padding-right: 1.5rem;
    font-size: 2rem;
    font-family: 'Lobster', cursive;
}
        h1 {
            font-family: cursive;
            text-transform: capitalize;
            color: white;
            font-size: 2.5rem;
            font-family: 'Lobster', cursive;

        }
        h2 {
            font-family: cursive;
            text-transform: capitalize;
            color: white;
            font-size: 2rem;
            font-family: 'Righteous', cursive;
        }
        p {
            font-family: cursive;
            color: white;
            font-size: 1.6rem;
            font-family: open sans;
        }
        #eventcontainer {
                display: grid;
                grid-gap: 5px;
                grid-template-columns: 1fr 1fr 1fr;
        }
        .ret img {
            width: 90%;
            box-shadow: 1px 2px 2px;
            border-radius: 10px;
        }
        @media screen and (max-width:1225px) {
            #eventcontainer {
                grid-template-columns: 1fr 1fr;
            }
        }

        @media screen and (max-width:830px){
            #eventcontainer {
                grid-template-columns: 1fr;
            }
             button {
                width: 100px;
                height: 25px;
            }
        }

        @media screen and (max-width:425px) {
            #eventcontainer {
                grid-template-columns: 1fr;

            }
            button {
                width: 100px;
                height: 25px;
            }
        }
            #modal {
                width: 100vw;
                height: 100vh;
                background: rgba(0, 0, 0, .8);
                position: fixed;
                text-align: center;

                opacity: 0;
                pointer-events: none;
                transition: 1s;
            }


            #modal-content {
                width: 80vw;
                height: 70vh;
                background: #fff;
                margin: auto;
                padding-top: 3em;
                margin-top: 5em;
            }


            #modal.vis {
            opacity: 1;
            pointer-events: all;
            transition: 0.5s;
            }


        #side_navn h1 {
            text-decoration: underline;
            font-family: 'lobster', cursive;
        }
