:root {
    /*I root, hvilket svarer til alt i vinduet og trumfer over html, definerer jeg variabler til farver på siden. Dette er smart fordi så kan jeg bare ændre farven i root.*/
    font-size: 62.5%;
    --bodycolor: black;
    --headercolor: #01724c;
    --lettercolor: #fff;
}
        body{
            text-align: center;
            margin: 0 auto;
    /*Her kan man se jeg har benyttet en variable.*/
            background: var(--bodycolor);
        }
        header {
            height: 400px;
            width: 100%;
            background-image: url("splash_mexi.png");
            background-size: cover;

                background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

        }
footer {
    height: 400px;
    background: var(--headercolor);
    /*Herunder benytter jeg display grid i min parent element, til at udvikle mit layout på min footer. Her har jeg bedt om 2 colums og 2 rows med en bestemt størrelse.*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 290px 90px;
}
#footer1 {
    /*I min første div child element til footeren har jeg bedt den span 2 columns og starte i row 2.*/
    grid-column-start: span 2;
    grid-row-start: 2;
    background: var(--headercolor);

    display: flex;
    justify-content: center;
}

#footer2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    background: #f17205;

    display: flex;
    justify-content: center;
}
#footer2 p {
    width: 400px;
}
#footer3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    background: #0277bd;

    display: flex;
    justify-content: center;
}
#footer3 p {
    width: 400px;
}
nav {
                position: fixed;
                top: 0;
                height: 100px;
                width: 100%;
/*                background: var(--headercolor);*/


                display: grid;
                grid-template-columns: 1fr 1fr;
}
#links {
    grid-column-start: 2;
    grid-column-end: 3;

                display: flex;
                justify-content: flex-end;
}
#logo_nav {
    grid-column-start: 1;
    grid-column-end: 2;

    display: flex;
    justify-content: flex-start;
}
#logo_nav img {
    width: 80px;
    height: 80px;
    padding-left: 3em;
    padding-top: 10px;
}
#logo_nav img:hover {
    opacity: 0.8;
}

header img {
    width: 250px;
    padding-top: 5em;

}
#body_nav button{
    color: #f17205;
    padding: 0.5em;
    font-size: 2.5rem;
    text-decoration: overline;
}
#body_nav button:hover {
    opacity: 0.8;
}

.dropbtn {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: white;
font-size: 2rem;
    font-family: 'Lobster', cursive;
}
.dropbtn:hover {
    color: #ebebeb;
}

.dropdown {
    position: relative;
    display: inline-block;
    text-align: left;
   align-self: center;
}

.dropdown-content {
    display: none;
    position: absolute;
/*    background-color: black;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content button {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}
.dropdown-content button:hover {
    color: #ebebeb;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}



#modal button {
            width: 100px;
            height: 30px;
            border-radius: 0px;
            background: #f17205;
            border: none;
            margin-top: 2em;


        }
   button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: white;

    padding-left: 0em;
    font-size: 1.5rem;
font-family: 'Lobster', cursive;

        }
a {
    color: white;
    text-decoration: none;
    padding-right: 1.5rem;
    font-size: 2rem;
    font-family: 'Lobster', cursive;
        align-self: center;

}
a:hover {
    color: #ebebeb;
}
        h1 {
            font-family: cursive;
            text-transform: capitalize;
            color: var(--lettercolor);
            font-size: 2.5rem;
            font-family: 'Lobster', cursive;

        }
        h2 {
            font-family: cursive;
            text-transform: capitalize;
            color: var(--lettercolor);
            font-size: 2rem;
            font-family: 'Righteous', cursive;
        }
        p {
            font-family: cursive;
            color: var(--lettercolor);
            font-size: 1.6rem;
            font-family: open sans;
        }
        #eventcontainer {
                display: grid;
                grid-gap: 5px;
                grid-template-columns: 1fr 1fr 1fr;
        }
        .ret img {
            width: 90%;
            box-shadow: 1px 2px 2px;
            border-radius: 10px;
            cursor: pointer;
        }

.ret img:hover {
    color: #ebebeb;
}
        @media screen and (max-width:1225px) {
            #eventcontainer {
                grid-template-columns: 1fr 1fr;
            }
        }

        @media screen and (max-width:865px) {
            #eventcontainer {
                grid-template-columns: 1fr;
            }
            button {
                width: 100px;
                height: 25px;
            }
            footer {
                width: 100%;
                grid-template-columns: 1fr;
                grid-template-rows: 290px 290px 90px;
            }
            #footer1 {
                width: 100vw;
                height: 100px;
            }
            #footer2 {
                width: 50vw;
            }
            #footer3 {
                width: 50vw;
            }
            #footer2 p {
                width: 300px;
            }
            #footer3 p {
                width: 300px;
            }
            nav {
                width: 100vw;
            }
            footer ul {
                width: 100%;
            }
        }

        @media screen and (max-width:550px) {
            #eventcontainer {
                grid-template-columns: 1fr;

            }
            button {
                width: 100px;
                height: 25px;
            }
            #footer2 p {

                width: 220px;
            }
            #footer3 p {
                width: 220px;
            }
            #modal-content {
                height: 55vh!important;
                margin-top: 15em!important;
            }
            #modal-billede {
                width: 300px!important;

            }
        }
@media screen and (max-width:550px) {
    #footer2 p {
        width: 160px;
    }
    #footer3 p {
        width: 160px;
    }
    #logo_nav img {
        padding-left: 1em;
    }
}
            #modal {
                width: 100vw;
                height: 100vh;
                background: rgba(0, 0, 0, .8);
                position: fixed;
                text-align: center;
/*Modal vinduet skal først vises når der blir klikket på en ret og derfor skal opacity være 0, altså skjult*/
                opacity: 0;
                pointer-events: none;
                transition: 1s;
            }

/*Her har vi selve modal indholdet/boksen som skal havde en farve og width samt height*/
            #modal-content {
                width: 80vw;
                height: 80vh;
                background: var(--headercolor);
                margin: auto;
                padding-top: 3em;
                margin-top: 5em;
                border-radius: 15px;
            }

/*Her i #modal.vis henter vi gennem js class .vis når der blir klikket på en ret*/
            #modal.vis {
            opacity: 1;
            pointer-events: all;
            transition: 0.5s;
            }
/*Da vi også skal havde et større billede af retten skal det også defineres*/
            #modal-billede {
                width: 550px;
/*                box-shadow: 1px 2px 2px;*/
                border-radius: 10px;
            }

        #side_navn h1 {
            text-decoration: underline;
            font-family: 'lobster', cursive;
        }
footer ul {
    list-style-type: none;
}
footer a {
    font-size: 1.2rem;
}
footer p {
    font-size: 1.3rem;
}
#footer1 h2 {
    padding-top: 1.5em;
}

